{
  "AnalyzeDocumentFunction": {
    "DOCUMENTS_TABLE": "themis-documents",
    "BUCKET_NAME": "themis-documents-local",
    "BEDROCK_MODEL_ID": "anthropic.claude-3-5-sonnet-20241022-v2:0",
    "USE_BEDROCK": "false",
    "AWS_REGION": "ap-south-1",
    "IS_LOCAL": "true",
    "AWS_ENDPOINT_URL": "http://172.17.0.2:4566",
    "REAL_AWS_ACCESS_KEY_ID": "YOUR_AWS_ACCESS_KEY_ID",
    "REAL_AWS_SECRET_ACCESS_KEY": "YOUR_AWS_SECRET_ACCESS_KEY",
    "GROQ_API_KEY": "YOUR_GROQ_API_KEY",
    "GROQ_MODEL": "qwen/qwen3.8-27b",
    "GROK_API_KEY": ""
  },
  "HistoryFunction": {
    "DOCUMENTS_TABLE": "themis-documents",
    "AWS_REGION": "ap-south-1",
    "IS_LOCAL": "true",
    "AWS_ENDPOINT_URL": "http://172.17.0.2:4566"
  }
}
